@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");

/* Onderstaand stukje CSS is om tijdelijk even 
de OMLIJNING te kunnen zien van al je HTML elementen 
(margins/paddings) in de pagina! Je kan dit aan 
en uitzetten. */

/* 
* {
	outline: 1px solid limegreen;
  background: rgba(0, 100, 0, 0.1); 
} 
*/

* {
	/* border: solid 1px limegreen */
	margin: 0;
	padding: 0;
}

nav {
	background: blue;
}

nav section {
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-auto-flow: column;
	gap: 0px;
	justify-content: right;
	align-items: center;
}

nav a {
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 20px;
	transition: all .5s ease;
}

nav a:hover {
	background: #000;
}

/* einde omlijning --------------------- */

body {
	margin: 0;
	font-family: Raleway;
	font-size: 20px
}


header {
	height: 100vh;
	background-image: url(images/meisje-telefoon.jpg);
	background-size: cover;
	overflow: hidden;
	box-shadow: 0px 10px 30px rgb(0, 0, 0, .5)
}

h2 {
	color: blue
}

h1 {
	color: yellow;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 20px;
}

header article {
	width: 400px;
	color: white;
	background: rgba(0, 0, 0, .5);
	padding: 60px 60px 100px 60px;
	margin: 100px;
	transform: rotate(-4deg)
}

header p {
	line-height: 1.4;
	color: rgb(191, 191, 191)
}

.inleiding {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr;
	max-width: 900px;
	margin: 40px auto;
	padding-top: 40px;
	padding-bottom: 70px;
	padding-left: 50px;
	padding-right: 50px;
}


footer {
	background: blue;
	font-size: 15px;
	line-height: 1.4;
	padding: 50px 0;
}

footer h2 {
	color: white;
}

footer section {
	display: grid;
	color: white;
	gap: 50px;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 50px 80px 50px;
}
